body {
    background-color: #aba7a2;
    color: whitesmoke;
    margin-top: 56px;
}
.hero {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0;
}
.hero-background {
    background-image: url('./img/preteaser.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    z-index: -999;
    top: 0;
    left: 0;
}
.text-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.text-container.right {
    text-align: right;
}

section {
    margin-top: 30px;
}

.subscribe {
    text-align: center;
}

.video {
    position: relative;
    height: 60vh;
    overflow: hidden;
}
.video-object {
    position: absolute;
    top: -50%;
    left: 0;

}

.link-button {
    display: inline-block;
    padding: 20px 30px;
    background-color: beige;
    color: #34424b;
    text-decoration: none;
    border-radius: 3px;
    font-size: 1.5rem;
    border: 2px solid beige;
    transition: all 0.3s ease-in-out;
}
.link-button:hover {
    background-color: #34424b;
    color: beige;
    text-decoration: none;
}
footer {
    margin-top: 30px;
    text-align: center;
    font-size: 2rem;
}